#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
/* fisrt design */
/* .moveInUp-enter-active{
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.moveInUp-leave-active{
  animation: moveInUp .3s ease-in;
}
@keyframes moveInUp{
 0%{
  transform: translateY(0);
 }
  100%{
  transform: translateY(-400px);
 }
} */

/* Second desgin */

/* .animate_content-enter-active {
    position: fixed;
    top:-100%;
    right:-100%;
    left:-100%;
    bottom:-100%;
    animation: animate 3s ease-in;

}
.animate_content-leave-active {
    animation: fadeIn 3s ease-in;
  
}


@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0;
  }

  70% {
      opacity: 0;
  }
  90% {
      opacity: 0;
  }

  95% {
      opacity: 0;
  }

  100% {
      opacity: 0;
  }

}

@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }

    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }

    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }

    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
    }
} */


/* third design */
.page-enter-active {
  animation: fadeIn 2s ease-in;
}
.page-enter-active,
.page-leave-active {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    opacity: 0.5;
} 

.page-enter,
.page-leave-to {
    /* added */
    position: fixed;
    top:-100%;
    right:-100%;
    left:-100%;
    bottom:-100%;
    /* stop */
    
    opacity: 0;
    -webkit-transform: scale(0); 
    transform: scale(0); /*change this one for another transform*/
} 
/* Added to ease-in property */
    @keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
} 


/*  */
